@* --------------------------------------------------- *@
@* Rodapés do número 0 até ao 5                        *@
@* --------------------------------------------------- *@
@* Rodapés para testes                                 *@
@* --------------------------------------------------- *@


<div class="b-example-divider d-none">Layout Footer Matrix</div>
@* <partial name="LayoutFooter/_LayoutFooter0"/> *@


<div class="b-example-divider d-none">Layout Footer Main</div>
<partial name="LayoutFooter/_LayoutFooterMain"/>


<div class="b-example-divider d-none">Layout Footer Minimal</div>
<partial name="LayoutFooter/_LayoutFooterMinimal"/>


<div class="b-example-divider d-none">Layout Footer simple</div>
<partial name="LayoutFooter/_LayoutFooterSimple"/>


<div class="b-example-divider d-none">Layout Footer Complete</div>
<partial name="LayoutFooter/_LayoutFooterComplete"/>


<div class="b-example-divider d-none">Layout Footer with Newsletter</div>
<partial name="LayoutFooter/_LayoutFooterNewsletter"/>


<div class="b-example-divider d-none">Layout Footer javascript 0</div>
@* <script src="~/js/siteFooter.js"></script> *@

<div class="b-example-divider d-none">Layout Footer javascript 1</div>
<script src="~/js/siteFooter1.js"></script>