@* ----------------------------------------------------- *@
@* Barras de navegação em OffCanvas do número 0 até ao 9 *@
@* ----------------------------------------------------- *@
@* ----------------------------------------------------- *@
@* Barras de navegação para testes *@
@* ----------------------------------------------------- *@

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas0"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas1"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas2"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas3"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas4"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas5"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas6"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffcanvas7"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffCanvasAdminMenu"/>

<div class="b-example-divider"></div>
<partial name="LayoutOffcanvas/_LayoutOffCanvasAccountMenu"/>