<header>

    <div class="b-example-divider d-none">Layout Header Nav Bars</div>
    <partial name="_LayoutNavBar"/>

    <div class="b-example-divider d-none">Layout Header Off-canvas</div>
    <partial name="_LayoutOffCanvas"/>

    <div class="b-example-divider d-none">Layout Header Nav Bar for tests 3</div>
    @* <partial name="_LayoutNavBar3"/> *@

</header>