@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
}


<div class="dropdown">
    @* <span class="material-symbols-outlined">settings</span> *@

    <a class="nav-link dropdown-toggle @(currentController is "Cities" or "Countries" or "Nationalities" ? "active" : "")"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @* <i class="material-symbols-outlined">emoji_flags</i> *@
        <span class="material-symbols-outlined">map</span>
        Countries
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item @(currentController == "Countries" ? "active" : "")"
               asp-area="" asp-controller="Countries" asp-action="Index">
                @* <i class="fas fa-person-shelter"></i> *@
                <span class="material-symbols-outlined">flag_circle</span>
                Countries
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "Nationalities" ? "active" : "")"
               asp-area="" asp-controller="Nationalities" asp-action="Index">
                @* <i class="fas fa-person-shelter"></i> *@
                <span class="material-symbols-outlined">language_international</span>
                Nationalities
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "Cities" ? "active" : "")"
               asp-area="" asp-controller="Cities" asp-action="Index">
                @* <i class="fas fa-person-shelter"></i> *@
                <span class="material-symbols-outlined">location_city</span>
                Cities
            </a>
        </li>
        <li></li>
    </ul>

</div>