@* ----------------------------------------------------- *@
@* Barras de navegação em OffCanvas do número 0 até ao 9 *@
@* ----------------------------------------------------- *@
@* ----------------------------------------------------- *@
@* Barras de navegação para testes *@
@* ----------------------------------------------------- *@

<div class="b-example-divider d-none">Layout Off-canvas for tests 0</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas0"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 1</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas1"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 2</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas2"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 3</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas3"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 4</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas4"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 5</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas5"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 6</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas6"/>

<div class="b-example-divider d-none">Layout Off-canvas for tests 7</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvas7"/>

<div class="b-example-divider d-none">Layout Off-canvas Admin Panel</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvasAdminMenu"/>

<div class="b-example-divider d-none">Layout Off-canvas Account Panel</div>
<partial name="LayoutOffCanvas/_LayoutOffCanvasAccountMenu"/>