<header>

    <div class="b-example-divider">
        <partial name="_LayoutNavBar"/>
    </div>

    <div class="b-example-divider">
        <partial name="_LayoutOffCanvas"/>
    </div>

    <div class="b-example-divider">
        @* <partial name="_LayoutNavBar3"/> *@
    </div>

    <div class="b-example-divider">
        @* <partial name="_LayoutNavBar4"/> *@
    </div>
    
</header>