@* --------------------------------------------------- *@
@* Barras de navegação do número 0 até ao 5 *@
@* --------------------------------------------------- *@

@* --------------------------------------------------- *@
@* Barras de navegação para testes *@
@* --------------------------------------------------- *@

<div class="b-example-divider"></div>
@* <partial name="LayoutNavBar/_LayoutNavBar0"/> *@


<div class="b-example-divider"></div>
<partial name="LayoutNavBar/_LayoutNavBarMedium"/>


<div class="b-example-divider"></div>
<partial name="LayoutNavBar/_LayoutNavBarOffCanvasLarge"/>


<div class="b-example-divider"></div>
<partial name="LayoutNavBar/_LayoutNavBarMain"/>


<div class="b-example-divider"></div>
<partial name="LayoutNavBar/_LayoutNavBar4"/>