@* --------------------------------------------------- *@
@* Barras de navegação do número 0 até ao 5            *@
@* --------------------------------------------------- *@

<div class="b-example-divider d-none">Layout Nav Bar Matrix</div>
@* <partial name="LayoutNavBar/_LayoutNavBar0"/> *@


<div class="b-example-divider d-none">Layout Nav Bar Medium Size</div>
@* <partial name="LayoutNavBar/_LayoutNavBarMedium"/> *@


<div class="b-example-divider d-none">Layout Nav Bar Large Size</div>
@* <partial name="LayoutNavBar/_LayoutNavBarOffCanvasLarge"/> *@


<div class="b-example-divider d-none">Layout Nav Bar Main from Project</div>
<partial name="LayoutNavBar/_LayoutNavBarMain"/>


<div class="b-example-divider d-none">Layout Nav Bar from Bootstrap site</div>
@* <partial name="LayoutNavBar/_LayoutNavBarBootstrapSite"/> *@


<div class="b-example-divider d-none">Layout Nav Bar with Double Header</div>
<partial name="LayoutNavBar/_LayoutNavBarDoubleHeader"/>