@* --------------------------------------------------- *@
@* Rodapés do número 0 até ao 5                        *@
@* --------------------------------------------------- *@
@* Rodapés para testes                                 *@
@* --------------------------------------------------- *@


<div class="b-example-divider">
    @* <partial name="LayoutFooter/_LayoutFooter0"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutFooter/_LayoutFooterMain"/> *@
</div>

<div class="b-example-divider">
    <partial name="LayoutFooter/_LayoutFooterMinimal"/>
</div>

<div class="b-example-divider">
    <partial name="LayoutFooter/_LayoutFooterSimple"/>
</div>

<div class="b-example-divider">
    @* <partial name="LayoutFooter/_LayoutFooterComplete"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutFooter/_LayoutFooterNewsletter"/> *@
</div>

<div class="b-example-divider">
    <script src="~/js/siteFooter.js"></script>
</div>