@using System.Diagnostics
@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;

    Debug.Assert(User.Identity != null, "User.Identity != null");
}


<div class="dropdown">
    @* <span class="material-symbols-outlined">settings</span> *@
    <a class="nav-link dropdown-toggle @(currentController is "StudentCourses" or "Students" ? "active" : "")"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="material-symbols-outlined">admin_panel_settings</i>
        Students
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item @(currentController == "Students" ? "active" : "")"
               asp-area="" asp-controller="Students" asp-action="Index">
                <i class="fas fa-person-shelter"></i> Students
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "StudentCourses" ? "active" : "")"
               asp-area="" asp-controller="StudentCourses" asp-action="Index">
                <i class="fas fa-person-shelter"></i> StudentCourses
            </a>
        </li>
    </ul>

</div>