@* --------------------------------------------------- *@
@* Barras de navegação do número 0 até ao 5 *@
@* --------------------------------------------------- *@

@* --------------------------------------------------- *@
@* Barras de navegação para testes *@
@* --------------------------------------------------- *@

<div class="b-example-divider">
    @* <partial name="LayoutNavBar/_LayoutNavBar0"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutNavBar/_LayoutNavBarMedium"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutNavBar/_LayoutNavBarOffCanvasLarge"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutNavBar/_LayoutNavBarMain"/> *@
</div>

<div class="b-example-divider">
    @* <partial name="LayoutNavBar/_LayoutNavBar4"/> *@
</div>


<div class="b-example-divider">
    <partial name="LayoutNavBar/_LayoutNavBar5Test"/>
</div>