@using System.Diagnostics
@using System.Reflection
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
}

@* <html lang="pt" data-bs-theme="dark"> *@
<html lang="pt">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - @ViewData["SolutionName"]</title>


    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <partial name="_LayoutHeadImports"></partial>


</head>


<body>


<header>


    <partial name="_LayoutNavBar"/>

</header>


<br/>
<br/>
<br/>


<div class="container-fluid justify-content-center">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<br/>
<br/>
<br/>


<partial name="_LayoutFooter"/>

<partial name="_LayoutScripts"/>


@await RenderSectionAsync("Scripts", false)


</body>


</html>