@{
    if (ViewContext.RouteData.Values["controller"] is not string currentController)
    {
        throw new ArgumentNullException(nameof(currentController));
    }
    var currentAction = ViewContext.RouteData.Values["action"] as string;
}


<div class="dropdown">
    @* <span class="material-symbols-outlined">settings</span> *@
    <a class="nav-link dropdown-toggle" @(currentController is "SchoolClassCourses" or "SchoolClasses" ? "active" : "")
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="material-symbols-outlined">admin_panel_settings</i>
        SchoolClasses
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item @(currentController == "SchoolClasses" ? "active" : "")"
               asp-area="" asp-controller="SchoolClasses" asp-action="Index">
                <i class="fas fa-person-through-window"></i> SchoolClasses
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "SchoolClassCourses" ? "active" : "")"
               asp-area="" asp-controller="SchoolClassCourses" asp-action="Index">
                <i class="fas fa-person-through-window"></i> SchoolClassCourses
            </a>
        </li>
    </ul>

</div>