@using System.Reflection
@model SchoolProject.Web.Data.Entities.Students.StudentDiscipline


@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];

    ViewData["pageTitle"] = pageTitle;
    ViewData["Title"] = "Create";
    // ViewData["Title"] = "Edit";
}

<h2>@actionName</h2>

<h4>@controllerName</h4>

<hr/>
<h3>Are you sure you want to delete this?</h3>

<div class="col-md-4">
    <div class="row">
        <partial name="_DisplayImages"/>

        <div class="col">
            <div class="row">
                <partial name="_StudentCoursesDD" for="@Model"/>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="StudentId"/>
                    <input type="hidden" asp-for="DisciplineId"/>
                    <button type="submit" class="btn btn-danger"> <span class="fa-regular fa-trash-can"></span> Delete</button>
                    <a asp-action="Index" class="btn btn-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
                </form>
            </div>
        </div>

    </div>
</div>