@* --------------------------------------------------- *@
@* Barras de navegação para testes número 3            *@
@* --------------------------------------------------- *@

@* _LayoutNavBarMain *@

@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
}

<nav class="navbar nav-tabs navbar-expand-xxl bg-body-tertiary">

    <div class="container-fluid gap-4">

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/icons/school-256x256.ico" alt="@ViewData["AssemblyName"]" width="auto" height="60">
        </a>

        <div class="b-example-divider d-none">Home dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarHomePanel"/>

        <div class="b-example-divider d-none">Countries dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarCountriesPanel"/>

        <div class="b-example-divider d-none">Courses dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarCoursesPanel"/>

        <div class="b-example-divider d-none">Enrollments dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarEnrollmentsPanel"/>

        <div class="b-example-divider d-none">Genders dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarGendersPanel"/>

        <div class="b-example-divider d-none">SchoolClasses dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarSchoolClassesPanel"/>

        <div class="b-example-divider d-none">Students dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarStudentsPanel"/>

        <div class="b-example-divider d-none">Teachers dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarTeachersPanel"/>

        <div class="b-example-divider d-none">Language dropdown section</div>
        @* <partial name="LayoutNavBar/Panels/_LayoutNavBarLanguagePanel"/> *@

        <div class="b-example-divider d-none">Theme dropdown section</div>
        @* <partial name="LayoutNavBar/Panels/_LayoutNavBarThemePanel"/> *@

        <div class="b-example-divider d-none">Account dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarAccountPanel"/>

        <div class="b-example-divider d-none">Admin dropdown section</div>
        <partial name="LayoutNavBar/Panels/_LayoutNavBarAdminPanel"/>

        <div class="b-example-divider d-none">login panel section</div>
        <div class="b-example-divider login-panel-section">
            <partial name="LayoutNavBar/Panels/_LayoutNavBarLoginDarkModePanel"/>
        </div>

    </div>

</nav>