@using Microsoft.AspNetCore.Mvc.Localization
@model dynamic

@inject IViewLocalizer Localizer



@{
    ViewData[index: "Title"] = Localizer[name: "About"];
    Layout = "_Layout";
}


<h2>@ViewData[index: "Title"].</h2>

<h3>@ViewData[index: "Message"]</h3>

<p>@Localizer[name: "Use this area to provide additional information."]</p>