@model dynamic

@{
    ViewData[index: "Title"] = "Cookies Privacy Policy";

    Layout = "_Layout";

    // Variáveis do lado do servidor com os valores necessários
    const string projectName = "Gestão Escolar Web";
    var currentDate = DateTime.Now.ToString(format: "yyyy-MM-dd");
}


<h1>@ViewData[index: "Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>