@using SchoolProject.Web.Controllers
@using Microsoft.Extensions.Localization
@using SchoolProject.Web.Helpers
@model IEnumerable<SchoolProject.Web.Data.Entities.Students.Student>
@* @model IEnumerable<SchoolProject.Web.Data.Entities.SchoolClasses.SchoolClass> *@

@inject IStringLocalizer<HomeController> Localizer


@{
    ViewData["Title"] = "Home Page";

    var ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesName);
    var SCElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesMPInfoName);
    var MPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeederTimerName);
    var RSElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.AppBuilderTimerName);
    var SPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";


    var allRuntimes =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.\n" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.\n" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.\n" +
        $"RunTime do programa: {SPElapsedTime}.\n";

    var allRuntimesHtml =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.<br>" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.<br>" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.<br>" +
        $"RunTime do programa: {SPElapsedTime}.<br>";
}


@* <h1>@ViewData["WelcomeMessage"]</h1> *@

@* <h1>@Localizer["WelcomeMessage"]</h1> *@

@* <p>@Localizer["ContactUs"]</p> *@

@* <p>@Localizer["AboutUs"]</p> *@


<div class="d-flex flex-column text-center">
    <div class="flex-grow-1">
        <h1 class="display-4">Welcome to the School Management Information System</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <img src="~/images/cover/school-Project-Cover-1.png" alt="School Management Cover 1">
    </div>
</div>