@inject IStringLocalizer<HomeController> Localizer
@using SchoolProject.Web.Controllers
@using SchoolProject.Web.Helpers
@using Microsoft.Extensions.Localization
@model dynamic

@{
    ViewBag.Title = "App Threads still running";
    Layout = "_Layout";
}

<h2>title</h2>


@{
    ViewData[index: "Title"] = "Home Page";

    var ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeedDbCoursesName);
    var SCElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeedDbCoursesMPInfoName);
    var MPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeederTimerName);
    var RSElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.AppBuilderTimerName);
    var SPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";


    var allRuntimes =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.\n" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.\n" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.\n" +
        $"RunTime do programa: {SPElapsedTime}.\n";

    var allRuntimesHtml =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.<br>" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.<br>" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.<br>" +
        $"RunTime do programa: {SPElapsedTime}.<br>";
}


<h1>@ViewData[index: "WelcomeMessage"]</h1>


<br/>
<p>@ProcessList.ListOfProcesses</p>

<br/>
<p>@ProcessList.ListOfProcesses.Count</p>
<br/>
<ul>
    @foreach (var process in ProcessList.ListOfProcesses)
    {
        <li>@process</li>
    }
</ul>