@model SchoolProject.Web.Data.Entities.Users.User

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr/>
<div class="row">
    <partial name="_DisplayImages"/>

    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_UsersCE" for="@Model" />

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><span class="fa fa-save"></span> Create </button>
                <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List </a>
            </div>
        </form>
    </div>
</div>