@model             SchoolProject.Web.Data.Entities.Users.AppUser
@* @model IEnumerable<SchoolProject.Web.Models.AppUsers.AppUserWithRolesViewModel> *@
@* @model PaginationViewModel<SchoolProject.Web.Models.AppUsers.AppUserWithRolesViewModel> *@

@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>AppUser</h4>
    <hr/>

    <div class="row">
        <partial name="_DisplayImages"/>

        <div class="col">
            <partial name="_UsersDD" for="@Model"/>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id"/>

                <button type="submit" class="btn btn-danger"> <span class="fa-regular fa-trash-can"></span> Delete</button>
                <a asp-action="Index" class="btn btn-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
            </form>

        </div>
    </div>
</div>