@model             SchoolProject.Web.Data.Entities.Users.AppUser
@* @model IEnumerable<SchoolProject.Web.Models.AppUsers.AppUserWithRolesViewModel> *@
@* @model PaginationViewModel<SchoolProject.Web.Models.AppUsers.AppUserWithRolesViewModel> *@

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>AppUser</h4>
    <hr/>

    <div class="row">
        <partial name="_DisplayImages"/>

        <div class="col">
            <partial name="_UsersDD" for="@Model"/>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="fa-regular fa-pen-to-square"></span> Edit</a>
    <a asp-action="Index" class="btn btn-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
</div>