@model SchoolProject.Web.Data.Entities.Users.User

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr/>

<div class="row">
    <partial name="_DisplayImages"/>

    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProfilePhotoId" />

            <partial name="_UsersCE" for="@Model" />

            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit"><span class="fa-regular fa-floppy-disk"></span> Save </button>
                <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"> </span> Back to List </a>
            </div>

        </form>
    </div>
</div>