<!-- Modal "Delete Country" -->
<div aria-hidden="true" aria-labelledby="deleteCountryLabel" class="modal fade"
     data-bs-backdrop="static" data-bs-keyboard="false" id="deleteCountry" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCountryLabel">Delete Country</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Do you want to delete the country?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteCountryOk">Understood</button>
            </div>

        </div>
    </div>
</div>


<!-- Modal "Delete City" -->
<div aria-hidden="true" aria-labelledby="deleteCityLabel" class="modal fade"
     data-bs-backdrop="static" data-bs-keyboard="false" id="deleteCity" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCityLabel">Delete City</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Do you want to delete the city?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteCityOk">Understood</button>
            </div>

        </div>
    </div>
</div>