@* --------------------------------------------------- *@
@* Rodapé para testes número 5                         *@
@* --------------------------------------------------- *@

@* _LayoutFooterNewsletter *@

<div class="container">

    <footer class="py-5">

        <div class="row">

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="Features">
                            Features
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="Pricing">
                            Pricing
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="About">
                            About
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link p-0 text-body-secondary"
                           asp-area="" asp-controller="Home" asp-action="FAQs">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label class="visually-hidden" for="newsletter1">Email address</label>
                        <input class="form-control" id="newsletter1" placeholder="Email address" type="text">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" height="24" width="24">
                            <use xlink:href="#twitter"/>
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" height="24" width="24">
                            <use xlink:href="#instagram"/>
                        </svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <svg class="bi" height="24" width="24">
                            <use xlink:href="#facebook"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </footer>

</div>