@* --------------------------------------------------- *@
@* Rodapé para testes número 4                         *@
@* --------------------------------------------------- *@

@* _LayoutFooterComplete *@

<div class="container">

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

        <div class="col mb-3">

            <a class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" href="/">
                <svg class="bi me-2" height="32" width="40">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <p class="text-body-secondary">&copy; 2023</p>

            <p class="col-md-4 mb-0 text-body-secondary">
                <span id="htmlWidth-navbar"></span>
                <span id="htmlHeight-navbar"></span>
                <span id="htmlWidthHeight-navbar"></span>
            </p>

        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Features">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Pricing">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="FAQs">
                        FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="About">
                        About
                    </a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Features">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Pricing">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="FAQs">
                        FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="About">
                        About
                    </a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Features">
                        Features
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="Pricing">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="FAQs">
                        FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-body-secondary"
                       asp-area="" asp-controller="Home" asp-action="About">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>