@* --------------------------------------------------- *@
@* Rodapé para testes número 1                         *@
@* --------------------------------------------------- *@

@* _LayoutFooterMain *@

<div class="container">

    <footer class="container py-5 bottom-0 bg-body-tertiary">

        <div class="row">

            <div class="col-12 col-md">

                <svg class="d-block mb-2" fill="currentColor" height="24" role="img"
                     viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <title>Product</title>
                    <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#house-gear"/>
                </svg>

                @* <small class="d-block mb-3 text-body-secondary">&copy; 2017 – @DateTime.Today.Year</small> *@

                <small class="d-block mb-3 text-body-secondary">
                    @DateTime.Now
                </small>

                <small class="d-block mb-3 text-body-secondary">
                    @ViewData["AssemblyName"] &copy; - Version: @ViewData["AssemblyVersion"]
                </small>

                <small class="d-block mb-3 text-body-secondary my-custom-footer-html">
                    <!-- Será atualizado com a largura do HTML -->
                    <span class="html-width"></span>
                </small>

                <small class="d-block mb-3 text-body-secondary my-custom-footer-html">
                    <!-- Será atualizado com a altura do HTML -->
                    <span class="html-height"></span>
                </small>

                <small class="d-block mb-3 text-body-secondary my-custom-footer-html">
                    <!-- Será atualizado com a largura e altura do HTML -->
                    <span class="html-width-height"></span>
                </small>

            </div>

            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Cool stuff</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Random feature</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Team feature</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Stuff for developers</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Another one</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Last time</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="About">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Contacts">
                            Contacts
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Team">
                            Team
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Terms">
                            Terms
                        </a>
                    </li>
                    <li></li><li></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Legal">
                            Legal
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Privacy">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Cookies">
                            Cookies
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="CookiesPrivacy">
                            Cookies Privacy
                        </a>
                    </li>
                    <li></li><li></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Team">
                            Team
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Locations">
                            Locations
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="Threads">
                            Threads
                        </a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none"
                           asp-area="" asp-controller="Home" asp-action="TimeTracker">
                            Time Trackers
                        </a>
                    </li>
                    <li>
                        <a href="#">Back to top</a>
                    </li>
                    <li></li>
                </ul>
            </div>

        </div>

    </footer>
</div>