@using System.Reflection
@model             SchoolProject.Web.Data.Entities.Genders.Gender
@* @model IEnumerable<SchoolProject.Web.Data.Entities.Genders.Gender> *@
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Genders.Gender> *@

@{
    ViewData["Title"] = "Details";
}

<h3>@ViewData["Title"]</h3>

<h4>Genders</h4>

@* <div class="row"> *@
@* <div class="col-md-4 offset-md-4"> *@

<hr />
@* <div class="container-fluid"> *@
<div class="row">
    @* <div class="container-md"> *@

    <partial name="_DisplayImages" />

    <div class="col">

        <partial name="_GendersDD" for="@Model" />

        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
            <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-rotate-left"></i> Back to List</a>
        </div>

    </div>

</div>