@model SchoolProject.Web.Data.Entities.Teachers.TeacherDiscipline

@* <!-- Outro conteúdo da página --> *@
<div>
    <h3>Errors:</h3>
    <ul>
        <li>@Html.ValidationSummary(false, "", new {@class = "text-danger"})</li>
    </ul>
</div>


<div class="form-group">
    <label asp-for="TeacherId" class="control-label"></label>
    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
    <span asp-validation-for="TeacherId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DisciplineId" class="control-label"></label>
    <select asp-for="DisciplineId" class="form-control" asp-items="ViewBag.DisciplineId"></select>
    <span asp-validation-for="DisciplineId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CreatedById" class="control-label"></label>
    <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById" disabled></select>
    <span asp-validation-for="CreatedById" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreatedAt" class="control-label"></label>
    <input asp-for="CreatedAt" class="form-control" disabled/>
    <span asp-validation-for="CreatedAt" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="UpdatedById" class="control-label"></label>
    <select asp-for="UpdatedById" class="form-control" asp-items="ViewBag.UpdatedById" disabled></select>
    <span asp-validation-for="UpdatedById" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="UpdatedAt" class="control-label"></label>
    <input asp-for="UpdatedAt" class="form-control" disabled/>
    <span asp-validation-for="UpdatedAt" class="text-danger"></span>
</div>

<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="WasDeleted"/>@Html.DisplayNameFor(model => model.WasDeleted)
    </label>
</div>