@page
@model DownloadPersonalDataModel
@{
    ViewData[index: "Title"] = "Download Your Data";
    ViewData[index: "ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData[index: "Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}