@model SchoolProject.Web.Data.Entities.Teachers.Teacher

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Teacher</h4>
<hr/>
<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="Id" /> *@
            @* <input type="hidden" asp-for="User" /> *@
            @* <input type="hidden" asp-for="User.Id" /> *@
            @* <input type="hidden" asp-for="User.FirstName" /> *@
            @*<input type="hidden" asp-for="User.LastName" /> *@
            @* <input type="hidden" asp-for="IdGuid" /> *@
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="ProfilePhotoId"/>
                        
            <partial name="_TeachersCE" />
            
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><span class="fa-regular fa-floppy-disk"></span> Save </button>
                <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
            </div>
        </form>
    </div>
    
    <div class="col-md-8">
        <partial name="_DisplayImages" />
        @* <img src="@Url.Content(Model.ProfilePhotoIdUrl)" alt="Image" style="width:200px; height:350px; max-width:100%; height: auto"> *@
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
