@model SchoolProject.Web.Data.Entities.Countries.Nationality
@* @model IEnumerable<SchoolProject.Web.Data.Entities.Countries.Nationality> *@
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Countries.Nationality> *@

@* <!-- Outro conteúdo da página --> *@
<div>
    <h3>Errors:</h3>
    <ul>
        <li>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</li>
    </ul>
</div>

<div class="form-group">
    <label asp-for="Country.Name" class="control-label"></label>
    <input asp-for="Country.Name" class="form-control"/>
    <span asp-validation-for="Country.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Country.ImageFile" class="control-label"></label>
    <input asp-for="Country.ImageFile" class="form-control" id="imageInput" type="file" onchange="previewImages(event)"/>
    <span asp-validation-for="Country.ImageFile" class="text-danger"></span>
</div>

@*
<div class="form-group form-check">
    <label class="form-check-label">
        <input asp-for="WasDeleted" class="form-check-input" />
        @Html.DisplayNameFor(model => model.WasDeleted)
    </label>
</div>
<div class="form-group">
    <label asp-for="UpdatedAt" class="control-label"></label>
    <input asp-for="UpdatedAt" class="form-control"/>
    <span asp-validation-for="UpdatedAt" class="text-danger"></span>
</div>
*@