html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 1.0rem;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 3860px) {
    html {
        font-size: 2rem;
    }
}