@model SchoolProject.Web.Data.Entities.Teachers.TeacherCourse

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>TeacherCourse</h4>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="TeacherId"/>
            <input type="hidden" asp-for="CourseId"/>

            <partial name="_TeacherCoursesCE" />

            <div class="form-group">
                <label asp-for="IdGuid" class="control-label"></label>
                <input asp-for="IdGuid" class="form-control" />
                <span asp-validation-for="IdGuid" class="text-danger"></span>
            </div>
           
            <div class="btn-group" role="group" aria-label="Basic example">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary"><span class="fa-regular fa-floppy-disk"></span> Save </button>
                    <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
                </div>               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
