@model SchoolProject.Web.Data.Entities.OtherEntities.Gender

@* @model SchoolProject.Web.Models.ProductViewModel *@


@{
    ViewData["Title"] = "Edit";
}

<br/>
<h1>@ViewData["Title"] </h1>

<br/>
<h4>Product</h4>
<br/>

<hr/>
<div class="container-fluid">
    <div class="row">

        <partial name="_ProductsImages"/>

        <div class="col">

            <div class="row">

                <form asp-area="" asp-controller="Genders" asp-action="Edit" enctype="multipart/form-data">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="ProfilePhotoIdUrl"/>
                    <input type="hidden" asp-for="ProfilePhotoId"/>

                    <partial name="_Products"/>

                    <br/>
                    <div class="form-group">
                        @* <button type="submit" class="btn btn-outline-primary"><span class="fa-regular fa-floppy-disk"></span> Save </button> *@
                        <button type="submit" class="btn btn-primary">
                            @* <i class="material-symbols-outlined">chevron_right</i> *@
                            <span class="material-symbols-outlined">add_circle</span>
                            <i class="fa-solid fa-floppy-disk"></i> Save
                        </button>
                        <a asp-area="" asp-controller="Genders" asp-action="Index" class="btn btn-secondary">
                            <i class="material-symbols-outlined">chevron_left</i> Back to List
                        </a>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>


<br/>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}