@model SchoolProject.Web.Data.Entities.Countries.Country
@* @model IEnumerable<SchoolProject.Web.Data.Entities.Countries.Country> *@
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Countries.Country> *@


<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Nationality.Name" class="control-label"></label>
    <input asp-for="Nationality.Name" class="form-control"/>
    <span asp-validation-for="Nationality.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" id="imageInput" type="file" onchange="previewImages(event)"/>
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>