@model SchoolProject.Web.Data.Entities.Countries.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Country</h4>
    <hr/>
    
    <partial name="_CountriesDD" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <button type="submit" class="btn btn-outline-danger"> <span class="fa-regular fa-trash-can"></span> Delete</button>
        <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
    </form>
</div>


<!-- Modal de Erro -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.ShowErrorModal != null && ViewBag.ShowErrorModal)
{
    <script>
        $(document).ready(function () {
            // Verificar se o modal de erro deve ser exibido
            // Exibir o modal e definir o corpo com a mensagem de erro
            $('#errorModal').modal('show');
            $('#errorMessage').html('@Html.Raw(ViewBag.ModalErrorMessage)');
        });

    </script>
}