@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Details - Roles";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Nationality</h4>
    <hr/>

    <partial name="_RolesDD" />
   
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"><span class="fa-regular fa-pen-to-square"></span> Edit</a>
    <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
</div>