@using System.Reflection
@model Microsoft.AspNetCore.Identity.IdentityRole
@* @model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole> *@
@* @model PaginationViewModel<Microsoft.AspNetCore.Identity.IdentityRole> *@

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString();
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];

    ViewData["pageTitle"] = pageTitle;
    ViewData["Title"] = "Create";
    ViewData["Title"] = "Edit";
}

<h3>@actionName</h3>

<h4>@controllerName</h4>

<hr/>
<div class="col-md-4">
    <div class="row">
        @*  <partial name="_DisplayImages" /> *@

        <div class="col">
            <div class="row">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id"/>

                    <partial name="_RolesCE" for="@Model"/>

                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                        <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-rotate-left"></i> Back to List</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<hr/>
<partial name="_UserTable" model="@Model"/>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}