@using System.Reflection
@model             SchoolProject.Web.Data.Entities.Courses.CourseStudent


@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];

    ViewData["pageTitle"] = pageTitle;
    ViewData["Title"] = "Create";
    ViewData["Title"] = "Edit";
}

<h3>@actionName</h3>

<h4>@controllerName</h4>
<hr/>

<h3>Are you sure you want to delete this?</h3>

<hr />
<div class="col-md-6">
    <div class="row">
        @* <partial name="_DisplayImages" /> *@

        <div class="col">
            <div class="row">
                <partial name="_CourseStudentsDD" for="@Model" />

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CourseId" />
                        <input type="hidden" asp-for="StudentId" />

                        <button type="submit" class="btn btn-danger"> <span class="fa-regular fa-trash-can"></span> Delete</button>
                        <a asp-action="Index" class="btn btn-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

            
