@{
    ViewData["Title"] = "Email confirmed";
}

<div class="text-center">
    <h2 class="text-4xl">@ViewData["Title"]</h2>

    <p>The account email has been confirmed. Login <a asp-controller="Account" asp-action="Login">here</a>.</p>
</div>