@model SchoolProject.Web.Data.Entities.Students.StudentCourse

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>StudentCourse</h4>
    <hr/>

    <partial name="_StudentCoursesDD" />

   
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    <a asp-action="Index" class="btn btn-outline-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
</div>