@using System.Reflection
@model SchoolProject.Web.Data.Entities.Disciplines.Discipline

@* <!-- Outro conteúdo da página --> *@
<div>
    <h3>Errors:</h3>
    <ul>
        <li>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</li>
    </ul>
</div>


<div class="form-group">
    <label asp-for="Code" class="control-label"></label>
    <input asp-for="Code" class="form-control"/>
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control"/>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Hours" class="control-label"></label>
    <input asp-for="Hours" class="form-control"/>
    <span asp-validation-for="Hours" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreditPoints" class="control-label"></label>
    <input asp-for="CreditPoints" class="form-control"/>
    <span asp-validation-for="CreditPoints" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" id="imageInput" type="file" onchange="previewImages(event)"/>
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="WasDeleted"/> @Html.DisplayNameFor(model => model.WasDeleted)
    </label>
</div>

<div class="form-group">
    <label asp-for="CreatedAt" class="control-label"></label>
    <input asp-for="CreatedAt" class="form-control"/>
    <span asp-validation-for="CreatedAt" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="UpdatedAt" class="control-label"></label>
    <input asp-for="UpdatedAt" class="form-control"/>
    <span asp-validation-for="UpdatedAt" class="text-danger"></span>
</div>